<lx-tabs>
    <lx-tab lx-label="Marcas">
        <div class="p+">
            <div class="card" ng-repeat="post in marcas" style="margin-top: 5px;">
                <div class="p+">
                    
                    <strong class="fs-headline display-block tc-red-900">
                        {{post.id}}
                    </strong>
                    <div class="fs-title display-block" >
                        {{post.descripcion}}
                    </div>
                    
                    <div class="fs-title display-block tc-green-A400" ng-if="post.habilitado==true">
                        Habilitado
                    </div>
                    <div class="fs-title display-block tc-red-A400" ng-if="post.habilitado==false">
                        Deshabilitado
                    </div>
                    
                    <br>
                    <div class="" flex-container="row" flex-align="left ">
                        <div flex-item="1" >
                            <a href="#/post/{{post.id}}" class="btn btn--m btn--blue btn--raised" lx-ripple>Editar</a>
                        </div>
                        <div flex-item="1" >
                            <a ng-click="removePost(post)" class="btn btn--m btn--red btn--raised" lx-ripple>Eliminar</a>
                        </div>
                        <div flex-item="1" ></div>
                    </div>
                </div>
            </div>
        </div>
    </lx-tab>
    <lx-tab lx-label="Users">
        <div class="p+">
            <div class="card top-space" ng-repeat="user in users">
                <div flex-container="row">
                    <div class="card__img card__img--left" style="height: 160px;">
                        <img src="imgs/user.jpg" alt="mas informacion de la imagen" >
                    </div>
                    <div flex-item flex-container="column">
                        <div flex-item>
                            <strong class="fs-headline display-block">
                                {{user.name}}
                            </strong>
                            <strong class="fs-subhead tc-black-2 display-block">
                                {{user.email}}
                            </strong>
                            <div class="card__actions">
                                <a href="#">Ver usuario</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </lx-tab>
</lx-tabs>

